<div class="text-center space-y-2">
  <% if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to "ユーザー登録はこちら", new_registration_path(resource_name), class: "btn btn-info w-full" %>
  <% end %>

  <% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <%= link_to "パスワードをお忘れの方はこちら", new_password_path(resource_name), class: "link link-primary block" %>
  <% end %>

  <% if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class: "link link-secondary block" %>
  <% end %>

  <% if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name), class: "link link-primary block" %>
  <% end %>

  <!-- Omniauth 相关部分 -->
<% if devise_mapping.omniauthable? %>
  <% resource_class.omniauth_providers.each do |provider| %>
    <%= button_to omniauth_authorize_path(resource_name, :google_oauth2), method: :post, class: "btn btn-warning w-full py-2 px-4 flex items-center justify-center bg-gray-100 text-gray-600 font-semibold border border-gray-300 rounded-lg hover:bg-gray-200 shadow-sm", data: { turbo: false } do %>
      <!-- Google Logo SVG -->
      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-3" viewBox="0 0 48 48" fill="none">
        <path fill="#4285F4" d="M44.5 20H24v8.5h11.7c-1.2 6.4-6.7 8.5-11.7 8.5-6.9 0-12.5-5.6-12.5-12.5S17.1 12 24 12c3.1 0 5.9 1.1 8.1 3.1l6-6C34.4 5.3 29.5 3 24 3 12.9 3 4 11.9 4 23s8.9 20 20 20c10.2 0 19-7.4 19-20 0-1.3-.2-2.7-.5-4z"/>
        <path fill="#34A853" d="M6.9 14.6l6.6 4.8C15.5 16 19.4 13 24 13c3.1 0 5.9 1.1 8.1 3.1l6-6C34.4 5.3 29.5 3 24 3 17 3 11 7.2 6.9 14.6z"/>
        <path fill="#FBBC05" d="M24 43c5.5 0 10.1-1.8 13.4-4.9l-6.5-5c-1.9 1.3-4.3 2.1-6.9 2.1-5.3 0-9.7-3.5-11.3-8.3l-6.6 5c3.2 6.2 9.7 10.1 17.9 10.1z"/>
        <path fill="#EA4335" d="M43.5 20H24v8.5h11.7c-.5 2.7-2 5-4.2 6.5l6.5 5C40.6 36.5 43 30 43 24c0-1.3-.2-2.7-.5-4z"/>
      </svg>
      Googleでログインします
    <% end %>
  <% end %>
<% end %>
</div>
