<section class="hero rounded-lg">
  <div class="hero-body">
    <div class="container text-center mb-10 ">
      <h1 class="text-3xl font-bold text-black font-sans ">ログイン</h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7">
        <div class="card bg-base-200 rounded-lg p-6">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "space-y-6" }) do |f| %>

            <!-- メールアドレス -->
            <div class="form-control">
              <%= f.label :email, "メールアドレス", class: "label" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "input input-bordered w-full" %>
            </div>

            <!-- パスワード -->
            <div class="form-control">
              <%= f.label :password, "パスワード", class: "label" %>
              <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: "input input-bordered w-full" %>
            </div>

            <!-- ログインボタン -->
            <div class="form-control mt-6">
              <%= f.submit "ログイン", class: "btn btn-warning w-full" %>
            </div>
          <% end %>

          <!-- Google 登录按钮 -->
          <div class="form-control mt-4">

            <%= render "devise/shared/links" %>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
